<app-header-tab titulo ="Tab 4"></app-header-tab>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Adivina un número del 0 al 100</ion-label>
      <ion-button (click)="onClick()" Fill="Clear">
        Comprobar
      </ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label>Número:</ion-label>
      <ion-input type="number" [(ngModel)]="numeroIntroducido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{texto || 'Escribe un número entre el 0 y el 100.'}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
